In [83]:
import pandas as pd

In [84]:
# Read CTF FY23 fuel tickets (June 2022 to September 2023)
df_valid_CTF_FY23 = pd.read_excel(r'../../data/tidy/CTF Fuel Tickets FY23 to date-tidy.xlsx')

# Convert date strings to datetime objects
df_valid_CTF_FY23['Transaction Date'] = pd.to_datetime(df_valid_CTF_FY23['Transaction Date'])

# Filter DataFrame to include transactions from July 2022 to end of September 2023
df_valid_CTF_FY23filtered = df_valid_CTF_FY23.loc[(df_valid_CTF_FY23['Transaction Date'] >= '2022-07-01') & (df_valid_CTF_FY23['Transaction Date'] <= '2022-09-30')]
df_valid_CTF_FY23filtered = df_valid_CTF_FY23filtered.drop(columns=["Unnamed: 0", "model"])

In [85]:
# Read NTF FY23 fuel tickets (June 2022 to September 2023)
df_valid_NTF_FY23 = pd.read_excel(r'../../data/tidy/NTF Fuel Tickets FY23 to date-tidy.xlsx')

# Convert date strings to datetime objects
df_valid_NTF_FY23['Transaction Date'] = pd.to_datetime(df_valid_NTF_FY23['Transaction Date'])

# Filter DataFrame to include transactions from July 2022 to end of September 2023
df_valid_NTF_FY23filtered = df_valid_NTF_FY23.loc[(df_valid_NTF_FY23['Transaction Date'] >= '2022-07-01') & (df_valid_NTF_FY23['Transaction Date'] <= '2022-09-30')]
df_valid_NTF_FY23filtered = df_valid_NTF_FY23filtered.drop(columns=["Unnamed: 0"])

In [86]:
# Read CTF FY22 fuel tickets (Oct 2021 to June 2022)
df_valid_CTF_FY22 = pd.read_csv(r'../../data/tidy/CTF-Fuel-Tickets-FY22-tidy.csv', delimiter=',', skiprows=0, low_memory=False)

# Convert date strings to datetime objects
df_valid_CTF_FY22['Transaction Date'] = pd.to_datetime(df_valid_CTF_FY22['Transaction Date'])

# Filter DataFrame to include transactions from Oct 2021 to June 2022
df_valid_CTF_FY22filtered = df_valid_CTF_FY22.loc[(df_valid_CTF_FY22['Transaction Date'] >= '2021-10-01') & (df_valid_CTF_FY22['Transaction Date'] <= '2022-06-30')]
df_valid_CTF_FY22filtered = df_valid_CTF_FY22filtered.drop(columns=['Unnamed: 0', 'model','vehicle_year', 'date'])

In [87]:
# Read NTF FY22 fuel tickets (Oct 2021 to June 2022)
df_valid_NTF_FY22 = pd.read_csv(r'../../data/tidy/NTF-Fuel-Tickets-FY22-tidy.csv', delimiter=',', skiprows=0, low_memory=False)

# Convert date strings to datetime objects
df_valid_NTF_FY22['Transaction Date'] = pd.to_datetime(df_valid_NTF_FY22['Transaction Date'])

# Filter DataFrame to include transactions from Oct 2021 to June 2022
df_valid_NTF_FY22filtered = df_valid_NTF_FY22.loc[(df_valid_NTF_FY22['Transaction Date'] >= '2021-10-01') & (df_valid_NTF_FY22['Transaction Date'] <= '2022-06-30')]
df_valid_NTF_FY22filtered = df_valid_NTF_FY22filtered.drop(columns=['Unnamed: 0', 'model', 'vehicle_year', 'type', ])

In [96]:
# Concatenate all four dataframes vertically
df_merged = pd.concat([df_valid_NTF_FY22filtered, df_valid_NTF_FY23filtered, df_valid_CTF_FY22filtered, df_valid_CTF_FY23filtered])

# Reset index
df_merged = df_merged.reset_index(drop=True)

In [97]:
df_merged

,Equipment ID,Qty,Transaction Date,Meter1Reading,Fuel Orfluid Type
0,7610,27.40,2021-10-01 20:02:00,498070,DIE
1,7610,56.20,2021-10-09 13:59:00,498369,DIE
2,7610,2.50,2021-10-12 20:02:00,498591,DIE
3,7610,40.10,2021-10-12 20:05:00,498591,DIE
4,7610,12.60,2021-10-13 16:09:00,498655,DIE
...,...,...,...,...,...
28346,1864,4.81,2022-09-23 15:37:00,21762,DIE
28347,1864,9.01,2022-09-26 15:58:00,21810,DIE
28348,1864,32.73,2022-09-27 22:20:00,21976,DIE
28349,1864,40.55,2022-09-28 21:48:00,22140,DIE
28350,1864,40.21,2022-09-29 23:07:00,22373,DIE

In [103]:
# save dataframe
df_merged.to_csv(r'../../data/tidy/fuel-tickets-oct2021-sep2022.csv')