In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import patches
import numpy as np

In [88]:
df = pd.read_csv(r'../../results/computed-fuel-rates-oct2021-sep2022.csv', delimiter=',', skiprows=0, low_memory=False)

In [89]:
df.columns

Index(['Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1',
       'Unnamed: 0', 'ServiceDateTime', 'DateKey', 'CalendarDate', 'Year',
       'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2', 'Route', 'RouteName',
       'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName', 'Vehicle',
       'VehicleType', 'SeatedCap', 'TotalCap', 'Lat', 'Lon', 'Boards',
       'Alights', 'Onboard', 'Bike', 'Daytype', 'Hour', 'Minute', 'Second',
       'Date', 'Powertrain', 'VehicleModel', 'Vehicle_mass',
       'time_delta_in_seconds', 'dist', 'Speed', 'Acceleration', 'elevation',
       'grade', 'Energy'],
      dtype='object')

In [112]:
# Copy required columns
df_clean = df[['ServiceDateTime','Route','Powertrain', 'Vehicle','VehicleModel','dist','Energy','Onboard','Date','Hour']].copy()
df_clean

,ServiceDateTime,Route,Powertrain,Vehicle,VehicleModel,dist,Energy,Onboard,Date,Hour
0,2021-10-01 06:43:49,R44,conventional,1205,Gillig 30,0.000000,0.000000,0,2021-10-01,6
1,2021-10-01 06:51:53,R44,conventional,1205,Gillig 30,0.594143,0.325058,0,2021-10-01,6
2,2021-10-01 06:51:53,39E,conventional,1205,Gillig 30,0.000000,0.000000,0,2021-10-01,6
3,2021-10-01 06:52:53,39E,conventional,1205,Gillig 30,0.313297,0.027469,0,2021-10-01,6
4,2021-10-01 06:54:38,39E,conventional,1205,Gillig 30,0.421870,0.061794,0,2021-10-01,6
...,...,...,...,...,...,...,...,...,...,...
15583903,2022-09-30 23:56:37,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.124876,0.000000,2,2022-09-30,23
15583904,2022-09-30 23:56:58,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.235011,0.028437,2,2022-09-30,23
15583905,2022-09-30 23:58:24,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),1.075675,0.076601,2,2022-09-30,23
15583906,2022-09-30 23:58:42,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.198054,0.000000,2,2022-09-30,23
15583907,2022-09-30 23:59:24,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.415893,0.036425,2,2022-09-30,23

In [113]:
check = df_clean.nlargest(10, 'Energy')
check

,ServiceDateTime,Route,Powertrain,Vehicle,VehicleModel,dist,Energy,Onboard,Date,Hour
14111566,2021-11-07 12:21:14,31,conventional,3322,NEW FLYER XD40,4.556807,899335.672905,7,2021-11-07,12
9387150,2021-11-08 15:38:29,B23,conventional,1843,NEW FLYER XD40,7.690351,292.595743,4,2021-11-08,15
7129009,2021-12-16 14:59:40,9999,conventional,1816,NEW FLYER XD40,0.101209,224.753425,11,2021-12-16,14
410699,2021-10-29 14:58:53,803,electric,1421,NEW FLYER XE40,0.101209,202.045577,0,2021-10-29,14
408568,2022-09-28 15:03:47,9999,electric,1420,NEW FLYER XE40,0.101209,197.676046,0,2022-09-28,15
6824396,2022-03-28 14:51:19,9999,conventional,1813,NEW FLYER XD40,0.101209,196.981479,0,2022-03-28,14
6365185,2022-03-01 14:56:38,803,hybrid,1804,NEW FLYER XDE40,0.101209,193.105025,1,2022-03-01,14
3246078,2021-11-01 14:55:31,803,conventional,1663,Gillig 40,0.101209,190.191257,4,2021-11-01,14
3009140,2022-05-16 14:50:04,803,conventional,1659,Gillig 40,0.101209,180.602681,0,2022-05-16,14
1722950,2022-03-29 14:53:03,9999,conventional,1576,Gillig 35,0.101209,172.428424,0,2022-03-29,14

In [114]:
df_clean = df_clean.loc[df_clean['Energy']<300]
check = df_clean.nlargest(10, 'Energy')
check

,ServiceDateTime,Route,Powertrain,Vehicle,VehicleModel,dist,Energy,Onboard,Date,Hour
9387150,2021-11-08 15:38:29,B23,conventional,1843,NEW FLYER XD40,7.690351,292.595743,4,2021-11-08,15
7129009,2021-12-16 14:59:40,9999,conventional,1816,NEW FLYER XD40,0.101209,224.753425,11,2021-12-16,14
410699,2021-10-29 14:58:53,803,electric,1421,NEW FLYER XE40,0.101209,202.045577,0,2021-10-29,14
408568,2022-09-28 15:03:47,9999,electric,1420,NEW FLYER XE40,0.101209,197.676046,0,2022-09-28,15
6824396,2022-03-28 14:51:19,9999,conventional,1813,NEW FLYER XD40,0.101209,196.981479,0,2022-03-28,14
6365185,2022-03-01 14:56:38,803,hybrid,1804,NEW FLYER XDE40,0.101209,193.105025,1,2022-03-01,14
3246078,2021-11-01 14:55:31,803,conventional,1663,Gillig 40,0.101209,190.191257,4,2021-11-01,14
3009140,2022-05-16 14:50:04,803,conventional,1659,Gillig 40,0.101209,180.602681,0,2022-05-16,14
1722950,2022-03-29 14:53:03,9999,conventional,1576,Gillig 35,0.101209,172.428424,0,2022-03-29,14
12464055,2022-02-04 15:47:55,30,conventional,3221,Gillig 40,0.357102,126.594431,1,2022-02-04,15

In [115]:
# Create a new column to show diesel consumption
df_clean['diesel'] = np.where(df_clean['Powertrain'] != 'electric', df_clean['Energy'], 0)
df_clean

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_65700\859185401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['diesel'] = np.where(df_clean['Powertrain'] != 'electric', df_clean['Energy'], 0)

,ServiceDateTime,Route,Powertrain,Vehicle,VehicleModel,dist,Energy,Onboard,Date,Hour,diesel
0,2021-10-01 06:43:49,R44,conventional,1205,Gillig 30,0.000000,0.000000,0,2021-10-01,6,0.000000
1,2021-10-01 06:51:53,R44,conventional,1205,Gillig 30,0.594143,0.325058,0,2021-10-01,6,0.325058
2,2021-10-01 06:51:53,39E,conventional,1205,Gillig 30,0.000000,0.000000,0,2021-10-01,6,0.000000
3,2021-10-01 06:52:53,39E,conventional,1205,Gillig 30,0.313297,0.027469,0,2021-10-01,6,0.027469
4,2021-10-01 06:54:38,39E,conventional,1205,Gillig 30,0.421870,0.061794,0,2021-10-01,6,0.061794
...,...,...,...,...,...,...,...,...,...,...,...
15583903,2022-09-30 23:56:37,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.124876,0.000000,2,2022-09-30,23,0.000000
15583904,2022-09-30 23:56:58,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.235011,0.028437,2,2022-09-30,23,0.028437
15583905,2022-09-30 23:58:24,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),1.075675,0.076601,2,2022-09-30,23,0.076601
15583906,2022-09-30 23:58:42,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.198054,0.000000,2,2022-09-30,23,0.000000
15583907,2022-09-30 23:59:24,B43,hybrid,7902,NEW FLYER XDE60 (ARTIC),0.415893,0.036425,2,2022-09-30,23,0.036425

In [116]:
df_clean_filtered = df_clean.loc [df_clean['dist']!=0].copy()
df_clean_filtered['diesel-per-mile'] = df_clean_filtered['diesel'] /df_clean_filtered['dist']

In [117]:
df_clean_filtered = df_clean_filtered.groupby(['Route','Date','Hour']).agg({'diesel-per-mile': ['sum'],'Onboard':['sum'], 'dist':['sum']}).reset_index()
df_clean_filtered.columns = df_clean_filtered.columns.droplevel(1)
df_clean_filtered

         Route        Date  Hour  diesel-per-mile  Onboard       dist
0       (X) 34  2022-04-01     7        30.507377      158  12.216216
1       (X) 34  2022-04-01     8        49.886119      471  12.729016
2       (X) 34  2022-04-01     9        39.763479      461  13.216499
3       (X) 34  2022-04-01    10        45.295676      515  13.696442
4       (X) 34  2022-04-01    11        37.235794      486  13.407117
...        ...         ...   ...              ...      ...        ...
167764     X92  2022-09-30    14        43.350870      322  10.757348
167765     X92  2022-09-30    15        35.881964       94  10.361481
167766     X92  2022-09-30    16        24.190172      343   8.178085
167767     X92  2022-09-30    17        36.937175      389  12.290083
167768     X92  2022-09-30    18        19.101568       93  10.446640

[167769 rows x 6 columns]

In [118]:
df_clean_filtered = df_clean_filtered.groupby(['Route','Hour']).agg({'diesel-per-mile': ['mean'],'Onboard':['mean'], 'dist':['mean']}).reset_index()
df_clean_filtered.columns = df_clean_filtered.columns.droplevel(1)
df_clean_filtered

      Route  Hour  diesel-per-mile     Onboard       dist
0    (X) 34     7        32.069082  117.550000  12.731947
1    (X) 34     8        49.195869  336.950000  12.682321
2    (X) 34     9        41.605493  360.650000  13.186950
3    (X) 34    10        43.518036  289.050000  13.507859
4    (X) 34    11        39.049322  386.150000  13.508294
..      ...   ...              ...         ...        ...
851     X92    15        28.665374  275.074074  10.234859
852     X92    16        29.385633  281.757475  10.140789
853     X92    17        27.674048  248.879310   9.194364
854     X92    18        22.066826  286.436508   8.128024
855     X92    19        33.961615   45.000000   1.176437

[856 rows x 5 columns]

In [119]:
df_clean_filtered['emissions-per-mile']=df_clean_filtered['diesel-per-mile']*0.01086879 ### For each gallon of diesel burned, 9.86 kgCO$_2$e of greenhouse gas (GHG) emissions are produced.
### 9.86kg = 0.01086879 us tons

In [120]:
# Replace 'X' and '(X)' with an empty string
df_clean_filtered['Route'] = df_clean_filtered['Route'].str.replace('X', '', regex=False)
df_clean_filtered['Route'] = df_clean_filtered['Route'].str.replace(r'\(X\)', '', regex=True)

df_clean_filtered['Route'] = df_clean_filtered['Route'].str.replace(r'\(\)', '', regex=True)

# Remove any extra whitespace that may be left:
df_clean_filtered['Route'] = df_clean_filtered['Route'].str.strip()

In [121]:
# Find the global maximum and minimum values for "emissions-per-mile"
global_max = df_clean_filtered['emissions-per-mile'].max()
global_min = df_clean_filtered['emissions-per-mile'].min()

# Create a list to store the new rows to be added
new_rows = []

# Iterate over each unique combination of Route and Hour
for route, hour in df_clean_filtered[['Route', 'Hour']].drop_duplicates().values:
    # Add a new row with the global maximum value for "emissions-per-mile"
    new_rows.append({'Route': route, 'Hour': hour, 'emissions-per-mile': global_max})
    # Add another new row with the global minimum value for "emissions-per-mile"
    new_rows.append({'Route': route, 'Hour': hour, 'emissions-per-mile': global_min})

# Convert the list of new rows to a DataFrame and append it to the original DataFrame
df_clean_filtered = df_clean_filtered.append(pd.DataFrame(new_rows), ignore_index=True)

# Display the first few rows of the extended DataFrame
df_clean_filtered.head()

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_65700\985047159.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_clean_filtered = df_clean_filtered.append(pd.DataFrame(new_rows), ignore_index=True)

  Route  Hour  diesel-per-mile  Onboard       dist  emissions-per-mile
0    34     7        32.069082   117.55  12.731947            0.348552
1    34     8        49.195869   336.95  12.682321            0.534700
2    34     9        41.605493   360.65  13.186950            0.452201
3    34    10        43.518036   289.05  13.507859            0.472988
4    34    11        39.049322   386.15  13.508294            0.424419

In [122]:
df_clean_filtered.to_csv(r'../../results/routes-emissions-for-video.csv', index=False)