In [2]:
import pandas as pd

# Load the data into pandas DataFrames
trips_df = pd.read_csv(r'../../data/tidy/google_transit/trips.txt')
routes_df = pd.read_csv(r'../../data/tidy/google_transit/routes.txt')
stop_times_df = pd.read_csv(r'../../data/tidy/google_transit/stop_times.txt')

In [3]:
# Merge the dataframes based on trip_id and route_id
merged_df = pd.merge(trips_df[['route_id', 'trip_id']], stop_times_df[['trip_id', 'stop_sequence']], on='trip_id')
merged_df = pd.merge(merged_df, routes_df[['route_id', 'route_short_name']], on='route_id')

In [4]:
# Save to a CSV file with only the columns: trip-id, route, stop-sequence
final_df = merged_df[['trip_id', 'route_short_name', 'stop_sequence']]
final_df.columns = ['trip-id', 'route', 'stop-sequence']  # Rename columns to match the required format
final_df.to_csv('gtfs_output.csv', index=False)

In [5]:
final_df

                                trip-id route  stop-sequence
0        4017904-N2305-VATCo-Weekday-99   R41              1
1        4017904-N2305-VATCo-Weekday-99   R41              2
2        4017904-N2305-VATCo-Weekday-99   R41              3
3        4017904-N2305-VATCo-Weekday-99   R41              4
4        4017904-N2305-VATCo-Weekday-99   R41              5
...                                 ...   ...            ...
364292  4023471-UM2223-UMTS-Saturday-29    36              2
364293  4023471-UM2223-UMTS-Saturday-29    36              3
364294  4023471-UM2223-UMTS-Saturday-29    36              4
364295  4023471-UM2223-UMTS-Saturday-29    36              5
364296  4023471-UM2223-UMTS-Saturday-29    36              6

[364297 rows x 3 columns]

In [6]:
import pandas as pd

# Load the data into pandas DataFrames
trips_df = pd.read_csv(r'../../data/tidy/google_transit/trips.txt')
routes_df = pd.read_csv(r'../../data/tidy/google_transit/routes.txt')
stop_times_df = pd.read_csv(r'../../data/tidy/google_transit/stop_times.txt')

# Merge the dataframes based on trip_id and route_id
merged_df = pd.merge(trips_df[['route_id', 'trip_id']], stop_times_df[['trip_id', 'stop_sequence', 'stop_id']], on='trip_id')
merged_df = pd.merge(merged_df, routes_df[['route_id', 'route_short_name']], on='route_id')

# Save to a CSV file with the columns: trip-id, route, stop-sequence, stop-id
final_df = merged_df[['trip_id', 'route_short_name', 'stop_sequence', 'stop_id']]
final_df.columns = ['trip-id', 'route', 'stop-sequence', 'stop-id']  # Rename columns to match the required format
final_df.to_csv('gtfs_output.csv', index=False)

In [7]:
final_df

                                trip-id route  stop-sequence  stop-id
0        4017904-N2305-VATCo-Weekday-99   R41              1      609
1        4017904-N2305-VATCo-Weekday-99   R41              2     1904
2        4017904-N2305-VATCo-Weekday-99   R41              3      555
3        4017904-N2305-VATCo-Weekday-99   R41              4      542
4        4017904-N2305-VATCo-Weekday-99   R41              5      533
...                                 ...   ...            ...      ...
364292  4023471-UM2223-UMTS-Saturday-29    36              2       51
364293  4023471-UM2223-UMTS-Saturday-29    36              3       41
364294  4023471-UM2223-UMTS-Saturday-29    36              4       44
364295  4023471-UM2223-UMTS-Saturday-29    36              5       46
364296  4023471-UM2223-UMTS-Saturday-29    36              6       58

[364297 rows x 4 columns]